{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Обо мне</h1>
          <span class="subheading">Чем я занимаюсь.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="middle-container">
        <div class="profile">
          <img src="" alt="">
          <h2>Привет.</h2>
          <p>Меня зовут Таир, я ученик школы <a href="https://www.nis.edu.kz/en/">НИШ</a> ФМН. Мне 14 лет, у меня 2
            брата
            и сестрёнка. Мне нравится играть в игры и смотреть фильмы.</p>
        </div>
        <hr>
        <div class="skills">
          <h2>Мои навыки.</h2>
          <div class="skill-row">
            <p>Мои основной навык - кодинг на пайтон. Я его изучаю с помощью курса на Udemy, все проекты можно увидеть на моем
              <a href="https://github.com/dtekio">профиле github</a>.
            </p>
          </div>
          <div>
            <h3>Уровни навыков.</h3>
            <table class="table" cellspacing="10">
              <tr>
                <td>Photoshop</td>
                <td>⭐⭐</td>
              </tr>
              <tr>
                <td>C++</td>
                <td>⭐⭐</td>
              </tr>
              <tr>
                <td>Python</td>
                <td>⭐⭐⭐⭐</td>
              </tr>
              <tr>
                <td>Html</td>
                <td>⭐⭐</td>
              </tr>
              <tr>
                <td>CSS</td>
                <td>⭐⭐</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}