{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About me</h1>
          <span class="subheading">What I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="middle-container">
        <div class="profile">
          <img src="" alt="">
          <h2>Hello.</h2>
          <p>My name is Tair, I am a student of <a href="https://www.nis.edu.kz/en/">NIS</a>. I am 14 y.o, I have two
            brothers and a sister.
            I like to play games and watch movies.</p>
        </div>
        <hr>
        <div class="skills">
          <h2>My skills.</h2>
          <div class="skill-row">
            <p>My main skill is coding on python. I am learning it by a course on Udemy, all projects can be seen on my
              <a href="https://github.com/dtekio">github profile</a>.
            </p>
          </div>
          <div>
            <h3>Skill levels.</h3>
            <table class="table" cellspacing="10">
              <tr>
                <td>Photoshop</td>
                <td>⭐⭐</td>
              </tr>
              <tr>
                <td>C++</td>
                <td>⭐⭐</td>
              </tr>
              <tr>
                <td>Python</td>
                <td>⭐⭐⭐⭐</td>
              </tr>
              <tr>
                <td>Html</td>
                <td>⭐⭐</td>
              </tr>
              <tr>
                <td>CSS</td>
                <td>⭐⭐</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}