{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg')}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          {% if msg_sent: %}
          <h1>Ваше сообщение успешно отправлено.</h1>
          {% else: %}
          <h1>Свяжитесь со мной</h1>
          {% endif %}
          <span class="subheading">Есть вопросы? У меня есть ответы.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Хотите связаться? Заполните форму снизу, чтобы отправить мне сообщение, и я постараюсь ответить как можно скорее!</p>
      {{ ckeditor.load() }}
      {{ ckeditor.config(name='body') }}
      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}